<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCT6CDyqSa7axn_5yek5foFWoNo0w5LQDs</string>
	<key>GCM_SENDER_ID</key>
	<string>590399163916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recycleApp</string>
	<key>PROJECT_ID</key>
	<string>recycleapp-e3b18</string>
	<key>STORAGE_BUCKET</key>
	<string>recycleapp-e3b18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590399163916:ios:edcb0de1da9f329abd6829</string>
</dict>
</plist>